.App {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    font-size: calc(7.2px + 1vmin);
    position: relative;
}

/*Start Navbar*/
.navbar__wrapper {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 50;
}

.navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 14px;
}

.navbar__icons {
    gap: 4px;
    height: 48px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 14px
}

.navbar__icons img {
    cursor: pointer;
}

/*End Navbar*/

/*Hero Card Section Start*/
.hero__section-main-div {
    width: 100%;
}

.hero__section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;
}

.hero__section-childrens {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;
}

.categories__filter-section-main-div {
    width: 100%;
}

.categories__items-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.category__card-item {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    background-color: #d9ddcb;
    /* TODO : Change bg color based on url path/*/
}

.category__card-item a {
    text-decoration: none;
    color: #6b6b6b;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}

.categories__view-all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 30px 24px 30px 30px;
    font-size: 16px;
    gap: 8px;
    cursor: pointer;
}

.categories__view-all-link img {
    margin-bottom: 1px;
}

.product__card-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    width: 100%;
    direction: rtl;
    grid-column-gap: 2fr;
    gap: 15px
}

.product-card {
    min-width: 100%;
    direction: ltr;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.product__card-ratingTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
    width: 100%;
    padding: 10px 15px 10px 10px;
}

.product__card-ratingTags img {
    width: 25px;
    height: 25px;
}

.product__card-product-image {
    display: flex;
    min-width: 100%;

    max-width: 70%;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.product__card-product-image img {
    min-width: 200px;
    height: auto;
    max-width: 90%;
    object-fit: contain;
}

.product__card-product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 3px 0;
    -webkit-line-clamp: 3;
}

.product__card-product-rating {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating p:nth-child(1) {
    color: #666666;
    text-decoration: line-through;
}

.product__card-product-rating-stars {
    gap: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating-stars p {
    color: #666666;
}

.product__card-product-price {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 10px 0 0 10px;
}

.product__card-product-price p:nth-child(1) {
    color: #878787
}

.product__card-product-price p:nth-child(2) {
    color: #86bc42;
    font-weight: 900;
}

/*Hero Card Section End*/

/*Mobile Navbar Start*/
.mobile__navbar-wrapper-main-div {
    width: 100%;
    background-color: #eff2e6;
}
.mobile__navbar-wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    padding: 6px 14px 10px 14px;
    gap: 45px;
    background-color: #ebebeb;
}

.mobile__navbar-items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px
}

.mobile__navbar-items-wrapper img {
    height: 50px;
    width: auto;
}

.mobile__navbar-items-wrapper p {
    color: #6b6b6b;
    font-weight: 600;
    font-size: calc(3.5px + 1.5vmin);;
}

.mobile__navbar-items-wrapper:first-child p {
    color: #80ad01; /* Example color */
}

/* Mobile Navbar End*/





/*Media Query*/
/* Hide the component on screens wider than 1024px */
@media (min-width: 768px) {
    .mobile__navbar-wrapper {
        display: none; /* Make sure it's visible on small screens */

    }
}
