.App {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(7.2px + 1vmin);
    position: relative;
}

/*Start Navbar*/
.navbar__menu-modal {
    display: flex; /* Hidden by default */
    flex-direction: column; /* Stack items vertically */;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 254px; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: white; /* Black w/ opacity */
    border-radius: 0 0 20px 20px;

}

.navbar_menu-items-main-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

}

.navbar__menu-item {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    font-size: 16px;
    padding-top: 16px;
    gap: 5px;

}

.navbar__menu-item a {
    text-decoration: none;
    text-underline: none;
    color: #6b6b6b;
}

.navbar__menu-item img {
    width: 24px;
    height: 24px;
}

.navbar__wrapper {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 50;

}

.navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;

}

.navbar__desktop-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    gap: 50px;

}

.navbar__desktop-items p {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Iranian Sans', sans-serif;
}

.navbar__desktop-icons {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
    cursor: pointer;
}

.navbar__desktop-icons img {
    width: 30px;
    height: 30px;
}

.navbar__mobile-icons {
    gap: 4px;
    height: 48px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 14px
}

.navbar__icons img {
    cursor: pointer;
}

/*End Navbar*/

/*Hero Card Section Start*/
.hero__section-main-div {
    width: 100%;
    border-radius: 12px;

}

.hero__section-wrapper {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;
    padding-bottom: 10px;
    position: relative;

}

.hero__section-childrens {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;

}

.categories__filter-section-main-div {
    width: 100%;
    border-radius: 12px;
}

.categories__items-wrapper-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
}

.categories__items-div {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.category__card-item {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    /*background-color: #d9ddcb;*/
    cursor: pointer;
    /* TODO : Change bg color based on url path/*/
}

.category__card-item a {
    text-decoration: none;
    color: #6b6b6b;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}

.categories__view-all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 30px 5px 20px 5px;
    font-size: 16px;
    gap: 8px;
    cursor: pointer;
}

.categories__view-all-link img {
    margin-bottom: 1px;
}

.product__card-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    width: 100%;
    direction: rtl;
    grid-column-gap: 2fr;
    gap: 15px;
}

.product-card {
    min-width: 100%;
    direction: ltr;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.product__card-ratingTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
    width: 100%;
    padding: 10px 15px 10px 10px;
}

.product__card-ratingTags img {
    width: 25px;
    height: 25px;
}

.product__card-product-image {
    display: flex;
    min-width: 100%;

    max-width: 70%;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.product__card-product-image img {
    min-width: 200px;
    height: auto;
    max-width: 90%;
    object-fit: contain;
}

.product__card-product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 3px 0;
    -webkit-line-clamp: 3;
}

.product__card-product-rating {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating p:nth-child(1) {
    color: #666666;
    text-decoration: line-through;
}

.product__card-product-rating-stars {
    gap: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating-stars p {
    color: #666666;
}

.product__card-product-price {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 10px 0 0 10px;
}

.product__card-product-price p:nth-child(1) {
    color: #878787
}

.product__card-product-price p:nth-child(2) {
    color: #86bc42;
    font-weight: 900;
}

/*Hero Card Section End*/

/*Mobile Navbar Start*/
.mobile__navbar-wrapper-main-div {
    width: 100%;
    background-color: #eff2e6;
}

.mobile__navbar-wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    padding: 6px 14px 10px 14px;
    gap: 45px;
    background-color: #ebebeb;
}

.mobile__navbar-items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.mobile__navbar-items-wrapper a {
    text-decoration: none;
    color: #7c7c7c;
}

.mobile__navbar-items-wrapper img {
    height: 40px;
    width: 40px
}

.mobile__navbar-items-wrapper p {
    color: #6b6b6b;
    font-weight: 600;
    font-size: calc(3.3px + 1.4vmin);;
}

/* Mobile Navbar End*/

/*Footer Start*/
.footer__main-div {
    width: 100%;

}

.footer__items-main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.footer__item-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    flex-direction: column;
    width: 100%;

}

.footer__items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #626754;
    border-radius: 10px;
    padding: 20px;
    gap: 20px
}

.footer__items-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.footer__items-image-overlay {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    gap: 10px;
}

.product-tag {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    cursor: pointer;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.close {

}

/*Desktop Modal*/
.desktop__modal {
    position: absolute;
    padding: 8px;
    display: flex;
    align-items: center;
    height: 230px;
    max-width: 560px;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    border-radius: 10px;
    z-index: 1;
    background-color: #fafafa;

}

.desktop__modal-right-div {
    border-radius: 10%;
    height: 100%;
    width: 50%;
    padding: 10px 10px;
    background-color: white;
}

.modal__content-left-div {
    display: flex;;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.modal__content-left-div p {
    /*width: 100%;*/
    direction: rtl;
    white-space: wrap;
}

.modal__content-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.modal__content-left-rate-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;

}

.modal__content-left-rate-div p {
    color: #6b6b6b;
    font-size: 16px;
}

.modal__content-left-rate-div div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal__content-left-rate-div img {
    width: 15px;
    height: 14px;
}

.modal__content-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    height: 100%;

}

/* Desktop Modal End*/


.modal {
    background-color: #fff;
    border: 1px solid green;
    border-radius: 12px;
    inset: 0;
    height: 87%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-items: center;
    /*justify-content: space-between;*/
}

.modal__nav-header {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: end;
    gap: 24px;
    padding: 30px 40px 5px 20px;
}

.modal__nav-header p {
    font-size: 16px;
    font-weight: 600;
    color: #383838;
}

.modal__nav-header img {
    width: 20.5px;
    height: 20.5px;
    cursor: pointer;
}

.modal__nav-tags-main-div {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 20px;
}

.modal__nav-left-tag-div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.modal__nav-left-tag-div p {
    font-size: 16px;
    font-weight: 400;
    color: #6b6b6b;
    white-space: nowrap;
}

.modal__nav-left-tag-div img {
    width: 50px;
    height: 60px;
}

.modal__nav-right-tag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px
}

.modal__nav-tags-image-div {
    width: 87%;
    padding: 45px 30px;
    margin-top: 40px;
}

.modal__slidy {
    /*width:100%;*/
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 18px;
    padding: 60px 0 0 0;
}

.modal__slidy img {
    width: 16px;
    height: 16px;
}

.modal__slidy img:last-child {
    width: 30px;
    height: 25px;
}

.modal__footer-main-div {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 60px;
}

.modal__footer-left-tag-div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.modal__footer-left-tag-div p {
    color: #dd794f;
    font-weight: 400;
    font-size: 17px;
}

.modal__footer-left-tag-div img {
    width: 20px;
    height: 20px;
}

.modal__footer-right-tag-div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px
}

.modal__footer-right-tag-div img {
    width: 15px;
    height: 14.5px
}

.modal__footer-right-tag-div p {
    font-size: 16px;
    font-weight: 400;
    color: #b0b0b0;
}

.modal__footer-end-div {
    direction: rtl;
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 37px;
}

.modal__footer-end-left-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.modal__footer-numbers-div {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-top: 7px;
}

.modal__footer-numbers-div p:nth-last-child(1) {
    color: white;
}

.modal__footer-numbers-div div {
    background-color: #acc294;
    padding: 5px;
    border-radius: 4px;
}

.modal__footer-real-price-div {
    display: flex;
    align-items: center;
    gap: 10px
}

.modal__footer-real-price-div p {
    font-size: 16px;
    color: #7a7a7a;
}


.footer__items-image-wrapper img:nth-child(1) {
    width: 100%;
    max-height: 628px;
    border-radius: 12px;
    object-fit: fill;
    z-index: 0;
    position: relative

}

.footer__items-cards-wrapper {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;

}

.category__footer-card-wrapper {
    /*display: flex;*/
    padding: 30px 30px 30px 30px;
    background-color: #e9eee0;
    border-radius: 12px;

}

.category__footer-card-item {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.category__footer-card-item p {
    font-size: 12px;

}


.custom__btn-main-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom__btn {
    display: flex;
    background-color: #80ad01;
    border: none;
    width: 100%;
    justify-content: center;
    box-shadow: none;
    padding: 20px;
    border-radius: 12px;
    gap: 10px;
    cursor: pointer;
}

.custom__btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.custom__btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

/*Media Query*/
/* Hide the component on screens wider than 1024px */
@media (min-width: 768px) {

    .mobile__navbar-wrapper {
        display: none; /* Make sure it's visible on small screens */
    }

    .navbar__wrapper {
        position: relative;;
    }

    .navbar__mobile-icons {
        display: none;
    }

    .navbar__items {
        direction: rtl;
    }

    .hero__section-wrapper {
        width: 98%;
        margin: auto;

    }

    .footer__item-right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;


    }

    .footer__items-wrapper {
        display: flex;
        flex-direction: row;
    }

    .category__footer-card-wrapper {
        max-width: 250px;
        border: 1px solid black;
    }

    .categories__items-wrapper-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        flex-grow: 1;

    }

    .categories__items-div {
        padding: 8px 15px 8px 15px;
        gap: 30px
    }

    /*.footer_desktop-modal-main-div{*/
    /*    position:absolute;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    background-color:red;*/
    /*    padding: 20px;*/
    /*}*/
}

@media (max-width: 768px) {
    .navbar__desktop-items {
        display: none;
    }

    .footer_desktop-modal-main-div {
        visibility: hidden;
    }

    .navbar__desktop-icons {
        display: none;
    }

}

@media (min-width: 720px) {
    .modal {
        visibility: hidden;
    }
}
