.App {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(7.2px + 1vmin);
    position: relative;
    overflow: hidden;
}

.root__div {
    width: 100%;
}

/*Start Navbar*/
.navbar__menu-modal {
    display: flex; /* Hidden by default */
    flex-direction: column; /* Stack items vertically */;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 254px; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: white; /* Black w/ opacity */
    border-radius: 0 0 20px 20px;

}

.navbar_menu-items-main-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

}

.navbar__menu-item {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    font-size: 16px;
    padding-top: 16px;
    gap: 5px;


}

.navbar__menu-item a {
    text-decoration: none;
    text-underline: none;
    color: #6b6b6b;
}

.navbar__menu-item img {
    width: 24px;
    height: 24px;
}

.navbar__wrapper {
    width: 100%;
    border-bottom: 1px solid #ebebeb;

    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 50;

}

.navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;

}

.navbar__desktop-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    gap: 50px;
    cursor: pointer;
}

.navbar__desktop-items p:hover {
    color: #80ad01;
    font-weight: 500;
}

.navbar__desktop-items p {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Iranian Sans', sans-serif;
}

.navbar__desktop-icons {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
    cursor: pointer;
}

.navbar__desktop-icons img {
    width: 30px;
    height: 27px;
}

.navbar__desktop-icons img:nth-child(3) {
    width: 30px;
    height: 30px;

}

.navbar__mobile-icons {
    gap: 4px;
    height: 48px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 14px
}

.navbar__icons img {
    cursor: pointer;
}

/*End Navbar*/

/*Hero Card Section Start*/
.hero__section-main-div {
    width: 100%;
}

.hero__section-wrapper {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    /*padding-top: 20px;*/
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;
    position: relative;
}

.hero__section-wrapper:nth-last-child(2) {
    border-top-left-radius: 40px;
}

.hero__section-childrens {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff2e6;
}

/*Hero Section End*/

/*Top Category Section Start*/
.categories__filter-section-main-div {
    width: 100%;

}

.categories__items-wrapper-div {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    direction: rtl;
}

.categories__items-div {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.category__card-item {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    /*background-color: #d9ddcb;*/
    cursor: pointer;
    /* TODO : Change bg color based on url path/*/
}

.category__card-item a {
    text-decoration: none;
    color: #6b6b6b;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}

.categories__view-all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 30px 5px 20px 5px;
    font-size: 16px;
    gap: 8px;
    cursor: pointer;
}

.categories__view-all-link img {
    margin-bottom: 1px;
}

/*Top Category Section End*/

/*Product Section Start*/
.product__card-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
    width: 100%;
    direction: rtl;
    gap: 15px;
}

.product-card {
    min-width: 100%;
    direction: ltr;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #c6cbb6;
    border-radius: 12px;
}

.product__card-ratingTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
    width: 100%;
    padding: 10px 15px 10px 10px;
}

.product__card-ratingTags img {
    width: 25px;
    height: 25px;
}

.product__card-product-image {
    display: flex;
    min-width: 100%;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product__card-product-image img {
    min-width: 200px;
    height: auto;
    max-width: 90%;
    object-fit: contain;
    border-radius: 8px;
}

.product__card-product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 3px 0;
    -webkit-line-clamp: 3;
}

.product__card-product-rating {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating p:nth-child(1) {
    color: #666666;
    font-size: 1px;
    border: 8px solid red;
    text-decoration: line-through;
}

.product__card-product-rating-stars {
    gap: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card-product-rating-stars p {
    color: #666666;
}

.product__card-product-price {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 10px 0 0 10px;
}

.product__card-product-price p:nth-child(1) {
    color: #878787;
}

.product__card-product-price p:nth-child(2) {
    color: #86bc42;
    font-weight: 900;
}

/*Product Card Section End*/


/*Mobile Navbar Start*/
.mobile__navbar-wrapper-main-div {
    width: 100%;
    background-color: #eff2e6;
}

.mobile__navbar-wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    padding: 6px 14px 10px 14px;
    gap: 45px;
    background-color: #ebebeb;
}

.mobile__navbar-items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.mobile__navbar-items-wrapper a {
    text-decoration: none;
    color: #7c7c7c;
}

.mobile__navbar-items-wrapper img {
    height: 40px;
    width: 40px
}

.mobile__navbar-items-wrapper p {
    color: #6b6b6b;
    font-weight: 600;
    font-size: calc(3.3px + 1.4vmin);;
}

/* Mobile Navbar End*/

/*Footer Start*/
.footer__main-div {
    width: 100%;
}

.footer__items-main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer__item-right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5px;
}

.footer__items-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #626754;
    border-radius: 10px;
    padding: 10px;
}

.footer__items-image-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image__slider {
    /*position: relative;*/
    min-width: 100%;
    max-width: 60%;
    display: flex;
    align-items: center;
}

.image__slider img {
    width: 100%;
    height: 524.25px;
    border-radius: 22px;
}

.image__slider button {
    position: absolute;
    z-index: 1;
    background-color: #b1b3ac;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}


.image__slider button:first-child {
    left: -10px;
    rotate: 180deg;
}

.image__slider button:last-child {
    right: -10px
}

.product-tag {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

/*Footer End*/


/*Desktop Modal*/
.desktop__modal {
    position: absolute;
    padding: 8px;
    display: flex;
    align-items: center;
    height: 230px;
    min-width: 420px;
    max-width: 460px;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    border-radius: 10px;
    z-index: 1;
    background-color: #fafafa;

}

.desktop__modal-right-div {
    border-radius: 10%;
    height: 100%;
    width: 50%;
    padding: 10px 10px;
    background-color: white;
}

.modal__content-left-div {
    display: flex;;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.modal__content-left-div p {
    /*width: 100%;*/
    direction: rtl;
    white-space: nowrap;
}

.modal__content-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.modal__content-left-rate-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;

}

.modal__content-left-rate-div p {
    color: #6b6b6b;
    font-size: 16px;
}

.modal__content-left-rate-div div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal__content-left-rate-div img {
    width: 15px;
    height: 14px;
}

.modal__content-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    height: 100%;
}

/* Desktop Modal End*/

/*Mobile Modal Start*/
.modal {
    background-color: #fff;
    position: absolute;
    top: 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 15px;
    align-items: center;
    z-index: 15;
    width: 100%;
    margin: auto;
    height: 190%;
}

.modal__nav-header {
    display: flex;
    /*width: 100%;*/
    align-items: start;
    justify-items: start;
    gap: 24px;
    padding: 30px 5px 5px 20px;
}

.modal__nav-header p {
    direction: rtl;
    font-size: 16px;
    white-space: collapse;
    font-weight: 600;
    color: #383838;
}

.modal__nav-header img {
    width: 20.5px;
    height: 20.5px;
    cursor: pointer;
}

.modal__nav-tags-main-div {
    width: 100%;
    display: flex;
    justify-items: start;
    justify-content: center;
    padding: 5px;
    gap: 50px;
}

.modal__nav-left-tag-div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.modal__nav-left-tag-div p {
    font-size: 14px;
    font-weight: 400;
    color: #6b6b6b;
    white-space: nowrap;
}

.modal__nav-left-tag-div img {
    width: 50px;
    height: 60px;
}

.modal__nav-right-tag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px;
}

.modal__nav-tags-image-div {
    width: 87%;
    padding: 45px 30px;
    margin-top: 40px;
}

.modal__slidy {
    /*width:100%;*/
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 18px;
    padding: 60px 0 0 0;
}

.modal__slidy img {
    width: 16px;
    height: 16px;
}

.modal__slidy img:last-child {
    width: 30px;
    height: 25px;
}

.modal__footer-main-div {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-top: 60px;
}

.modal__footer-left-tag-div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.modal__footer-left-tag-div p {
    color: #dd794f;
    font-weight: 400;
    font-size: 16px;
}

.modal__footer-left-tag-div img {
    width: 20px;
    height: 20px;
}

.modal__footer-right-tag-div {
    display: flex;
    flex-direction: row;
    gap: 7px
}

.modal__footer-right-tag-div img {
    width: 15px;
    height: 14.5px
}

.modal__footer-right-tag-div p {
    font-size: 16px;
    font-weight: 800;
    color: #b0b0b0;
}

.modal__footer-end-div {
    direction: ltr;
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 10px;
}

.modal__footer-end-left-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.modal__footer-numbers-div {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-top: 7px;
}

.modal__footer-numbers-div p:nth-last-child(1) {
    color: white;
}

.modal__footer-numbers-div div {
    background-color: #acc294;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    border-radius: 4px;
}

.modal__footer-real-price-div {
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 10px
}

.modal__footer-real-price-div p {
    font-size: 16px;
    color: #7a7a7a;
}

/*Mobile Modal end*/
.footer__items-image-wrapper img:nth-child(1) {
    width: 100%;
    max-height: 628px;
    border-radius: 12px;
    object-fit: fill;
    z-index: 0;
    position: relative
}

.footer__items-cards-wrapper {
    width: 100%;
    padding: 30px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(110px, 1fr));
    gap: 25px;
}

.footer__items-cards-wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: Add some padding for better spacing */
}

.category__footer-card-wrapper {
    padding: 30px 30px 30px 30px;
    width: 100%;
    background-color: #e9eee0;
    border-radius: 12px;
    cursor: pointer;
}

.category__footer-card-item {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.category__footer-card-item p {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.custom__btn-main-div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.custom__btn-main-div p {
    white-space: nowrap;
}

.custom__btn {
    display: flex;
    width: 100%;
    background-color: #80ad01;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    gap: 5px;
    cursor: pointer;
}

.custom__btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.custom__btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: white;
}


/*Media Query*/


@media (min-width: 768px) {
    .root__div {
        margin-top: 90px;
    }

    .custom__btn-main-div {
        width: calc(100% - 18%);
    }

    .categories__view-all-link {
        border: 2.4px dotted #80ad01;
        border-radius: 10%;
        padding: 10px 20px;
    }

    .mobile__navbar-wrapper {
        display: none; /* Make sure it's visible on small screens */
    }

    .navbar__wrapper {
        position: relative;
    }

    .navbar__mobile-icons {
        display: none;
    }

    .navbar__items {
        direction: rtl;
    }

    .hero__section-wrapper {
        width: 98%;
        margin: auto;

    }


    .footer__item-right-wrapper {
        width: 45%;
    }


    .footer__items-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: center;

    }

    .category__footer-card-wrapper {
        max-width: 190px;
        min-width: 80%;
        padding: 30px 30px;
    }

    .categories__items-wrapper-div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .categories__items-div {
        padding: 8px 15px 8px 15px;
        gap: 30px
    }

    .footer__items-image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        padding: 40px 10px;
    }

    .image__slider {
        position: relative;
        min-width: 100%;
        max-width: 60%;
        height: auto;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .navbar__desktop-items {
        display: none;
    }


    /*.custom__btn-main-div {*/
    /*    margin-right: 0;*/
    /*    !*width: 90%;*!*/
    /*}*/
    .footer_desktop-modal-main-div {
        visibility: hidden;
    }

    .navbar__desktop-icons {
        display: none;
    }

    .footer__items-cards-wrapper {
        width: 95%
    }
}

@media (max-width: 701px) {
    .desktop__modal {
        display: none;
    }

}

@media (min-width: 700px) {
    .modal {
        visibility: hidden;
    }


}

@media (max-width: 393px) {
    .modal__nav-left-tag-div {
        gap: 0;
        padding-inline: -20px;
    }

    .modal__nav-left-tag-div p {
        font-size: 14px;
        white-space: pre-wrap;
    }

    .modal__footer-main-div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .modal__footer-end-div {
        display: flex;
        flex-direction: column;
        direction: initial;
        gap: 30px;
    }

    .categories__items-div {
        gap: 0;
    }
}
